* {
  text-align: right;
  direction: rtl;
}
input.ng-touched.ng-invalid {
  border-color: #dc3545;
}

#family-input.ng-valid {
  border-color: #28a745;
}
.green-icon {
  color: #28a745;
}
.red-icon {
  color: #dc3545;
}
table tr {
  text-align: right;
  cursor: pointer;
}
